<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>footer</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
<footer th:fragment="bottom">

    <ul>
        <li><a href="https://twitter.com/hashtag/doctorwho?lang=en">Twitter</a></li>
        <li><a href="https://www.facebook.com/DoctorWho/">Facebook</a></li>
        <li><a href="https://en.wikipedia.org/wiki/TARDIS">Tardis</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>

</footer>
</body>
</html>
